
.Title {
    position: absolute;
    left: 10%;
    top: -3vw;
    color: rgb(12, 26, 195);
    font-size: 5vw;
    text-shadow: 3px 3px rgb(219, 219, 113);
}

.start-button {
    border-radius: 1vw;
    font-size: 2vw;
    left: 12%;
    top: 6vw;
    position: absolute;
    color: rgb(12, 26, 195);
    background-color:  rgb(219, 219, 113);
}

/* .players {
    position: absolute;
    font-size: 2vw;
    left: 24%;
    top: 6.1vw;
    border-radius: .8vw;
    color: rgb(12, 26, 195);
    background-color:  rgb(219, 219, 113);
} */

body {
    background-size: 100vw;
    background-color: rgb(65, 64, 64);
    background-repeat: no-repeat;
    background-image: url(https://www.etonline.com/sites/default/files/styles/max_970x546/public/images/2015-02/640_snl_40_jeopardy.jpg?itok=Zu7LWFGh);
}
