.tv{
    border:gray solid 3px;
    background: blue;
    color: white;  width: 65vw;
    height: 50vw;
    margin-left: 15vw;
   
    border-radius: 15% / 50% ;
}

.question{

    font-size: 5vw;
    font-weight: 700;
    padding:5vw;

    
}

.answer p{
 
    font-weight: 700;
    transition: opacity 5s;
}

.answer p.load{
   opacity: 1;

}
.answerButtons {

    display: inline-flex;
    justify-content: space-between;
    width: 90vw;
    padding: 5vw;
    font-size: 3vw;
}
button.right {
    border:gray solid 2px;
    background: green;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    padding: 1vw;
    font-size: 3vw;
}
button.wrong {
    border:gray solid 2px;
    background: red;
    font-weight: 600;
    color: white;
    border-radius: 3px;
    padding: 1vw;
    font-size: 3vw;
}